<p id="notice"><%= notice %></p>

<h1>Profile</h1>

<div class="profile">

<% if user_signed_in? %> 
  <%= link_to image_tag("profile.png", class: "profile-photo"), "/"%> 
  <%="#{current_user.username}'s Profile" %> 
    <% if Product.where(user_id: current_user.id, sold: false)? %> 
      <%= link_to "View Products", products_path %> 
    <% else %> 
      <%= link_to "Create Your Profile", new_profile_path %> 
    <% end %> 
<% else %> 
  You <%= link_to "Sign In First", new_user_session_path %> 
<% end %>

</div>