<p id="notice"><%= notice %></p>
<%= form_with(url: '/products', method: 'get', local: true) do %>
        <%= text_field_tag(:search) %>
        <%= submit_tag("Search") %>

<% end %>

<h1>All Products</h1>

<div class="album">
<div class="container">

<div class="row">
<div class="card">
    <% @products.each do |product| %>
        <br>
        <br>
        <br>
    <%= image_tag product.picture if product.picture.attached? %>
      <table>
        <td>Name: <%= product.name %></td>
        <td>Category: <%= product.category %></td>
        <td>Descriotion: <%= product.description %></td>
        <td>Quantity: <%= product.quantity %></td>
        <td>Price: <%= product.price %></td>
        <td>Brand: <%= product.brand %></td>
        <td>Sold: 
          <% if product.sold? %>
            Sold
          <% else %>
            Available
          <% end %>
        </td>
          
        ---------------
        <br>
        <td><%= link_to 'Show', product %></td>

        <% if user_signed_in? && current_user.id == product.user_id %>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <% end %>
      </table>
    <% end %>
</div>
</div>
</div>
</div>

<br>

<div>
  <p class="pop-items">**Popular items: Stroller, Baby Shoes, Baby Toys, Playpen, Bathtub, Baby High Chair, Car Seat</p>
</div>

<br>

<%= link_to 'Add New Product', new_product_path %>
